{% extends 'layout/base.jinja2' %}
{% import 'partial/header.jinja2' as header %}
{% import 'partial/footer.jinja2' as footer %}

{% import 'partial/sections/reportBug.jinja2' as reportBug %}

{% block content %}

    {{ header.render() }}

    {{ reportBug.render() }}

    {{ footer.render() }}

{% endblock content %}

{% block css %}
    {{ super() }}
{% endblock css %}

{% block js %}
    {{ super() }}
    <script src="{{ s_url_for('js', 'home.js') }}"></script>
{% endblock js %}
