{%- macro render() -%}

<div class="block app-block-footer">
  <div class="container">
    <div class="row">
      <!--Get in touch-->
      <div class="col-sm-3 mb-4">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Get in touch</h6></li>
          <li>PPTX Builder</li>
          <li>info@pptxbuilder.com</li>
          <li>13 Belsize Park</li>
          <li>London</li>
          <li>NW3 4ES</li>
        </ul>
      </div>
      <!--Get in touch-->
      <!--Navigation-->
      <div class="col-sm-3 mb-4">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Navigation</h6></li>
          <li><a class="footer-links" href="/">Home</a></li>
          <li><a class="footer-links" href="/builder">PPTX Builder</a></li>
          <li><a class="footer-links" href="/about">About Us</a></li>
          <li><a class="footer-links" href="/get-in-touch">Contact Us</a></li>
        </ul>
      </div>
      <!--Navigation-->
      <!--About-->
       <div class="col-sm-6">
        <h6 class="text-uppercase">About</h6>
        <p>
        PPTX Builder is a cloud based platform that allows you to interactively create PowerPoint decks directly from your data tables.
        <a href="/#upload-section">Try it now</a> for free.
        </p>
      </div>
      <!--About-->
    </div>
  </div>
  <!--Copyright-->
  <div class="container">
    <div class="row">
      <div class="col">
              <ul class="list-inline social-buttons text-center">
                <li class="list-inline-item">
                  <a href="https://twitter.com/pptxbuiler" target="_blank">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.facebook.com/pptxbuilder/" target="_blank">
                    <i class="fa fa-facebook"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="https://www.linkedin.com/company/pptx-builder" target="_blank">
                    <i class="fa fa-linkedin"></i>
                  </a>
                </li>
              </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6 class="text-center">© 2018 PPTX Builder</h6></li>
      </div>
    </div>
  </div>
  <!--Copyright-->

  <div style="display:none;">
  <input type="file" name="the-file" id="the-file" accept=".xlsx,.xls">
  <form class="upload-form" id="upload-form" method="post" action="{{ url_for('builder.create') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="hidden" name="file">
  </form>
  </div>
</div>

{%- endmacro %}
