{%- macro render() -%}

<div class="block app-block-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 mb-4">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Get in touch</h6></li>
          <li>PPTX Builder</li>
          <li>pptxbuilder@gmail.com</li>
          <li>13 Belsize Park</li>
          <li>London</li>
          <li>NW3 4ES</li>
        </ul>
      </div>
      <div class="col-sm-3 mb-4">
        <ul class="list-unstyled list-spaced">
          <li><h6 class="text-uppercase">Navigation</h6></li>
          <li><a class="footer-links" href="/">Home</a></li>
          <li><a class="footer-links" href="/builder">PPTX Builder</a></li>
          <li><a class="footer-links" href="/about">About Us</a></li>
          <li><a class="footer-links" href="/bug-report">Bug Report</a></li>
        </ul>
      </div>
       <div class="col-sm-6">
        <h6 class="text-uppercase">About</h6>
        <p>
        PPTX Builder is a cloud based platform that allows you to interactively create and share a PowerPoint deck with data visualisation directly from your data tables.
        <a href="javascript:void(0)" class="upload-dummy">Try it now</a> for free.
        </p>
      </div>
    </div>
  </div>
</div>

{%- endmacro %}
