{%- macro render() -%}
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                {% if 'builder_flag' in session %}
                    <li class="nav-item">
                        <a class="nav-link {{ 'active' if request.endpoint.startswith('builder') else '' }}"
                           href="{{ url_for('builder.index') }}">{{ _('Builder') }}</a></li>
                {% endif %}
            </ul>
        </nav>
        <h3 class="text-muted"><a href="{{ url_for('home.index') }}">{{ _('PPTX Builder') }}</a></h3>
    </div>
{%- endmacro %}