{%- macro render() -%}

<div class="container pt-4 fixed-nav">
  <nav class="navbar navbar-light navbar-expand-sm text-uppercase app-navbar mb-5">
    <a class="navbar-brand navbar-logo mr-auto" href="../">
      <span class="builder-logo">
      <img class="header-logo" src="../static/img/logo.svg">
      PPTX builder
      </span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" href="../">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../about">About Us</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="../get-in-touch">Contact Us</a>
        </li>
      </ul>
    </div>
</nav>
</div>


{%- endmacro %}
