.app-navbar{
  flex-direction: row;
}
.header-logo{
  width: 40px;
  margin-right: 5px;
}
.fixed-nav{position:  fixed;width:  100%;margin:  0px;height:  100px;z-index: 2000;max-width:  100%;background-color: white;right:  0;left:  0;top: 0;}
.fixed-nav .navbar{
  max-width: 1120px;
  margin:  auto;
}
.navbar-logo span{
  font-weight: 400;
  color: #586169;
}
.about-image{
  height: 400px;
  width: 100%;
  object-fit: cover;
  margin-top: 100px;
}
.app-block-intro{
  padding-bottom: 0px !important;
  margin-top: 0px;
}
.wrapper.builder{
  height: calc(100% - 80px);
}
.footer-links{
  color: rgba(116, 119, 123, .9);
}
a:hover{
  color: #0374d8 !important;
}
.flex-property{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
   display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
   display: -ms-flexbox;      /* TWEENER - IE 10 */
   display: -webkit-flex;     /* NEW - Chrome */
   display: flex;
}
.data-scheme-section{
  margin-bottom: 100px;
}
.app-block-stats{
  padding-bottom: 80px !important;
}
.data-scheme-list ul{
  padding: 10px;
  list-style: upper-roman;
  margin: 0px !important;
}
.data-scheme-list ul li{
  font-size: 20px;
  padding-left: 20px;
  margin-bottom: 25px;
}
.dataScheme-list{
  padding-bottom: 0px !important;
  justify-content: center;
  align-items: center;
}
.data-scheme-list{
  /* margin-top: 120px; */
}
.smaller-head-title{
  font-size: 4rem !important;
  margin-bottom: 20px !important;
  margin-top: 60px;
}
.gray-background{
  background-color: #f6f6f6;
}
.dark-background{
  background-color: #1b1c1d;
  color: #cecece;
}
.dataScheme-image{
  justify-content: center;
  align-items: center;
}
.no-border:before{
  border: 0px !important;
}
.wrapper.home .explainer {
  margin: 0px 50px;
}
.explainer .one-explainer{
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
}
.how-works-box{
  flex-direction: column;
  flex: auto;
  justify-content: space-around;
  align-items: flex-start;
  text-align: left;
  padding: 0px 50px;
  width: 50%;
  max-width: 50%;
  margin: 20px 0px;
}
.how-works-box .title{
  color: #0374d8 !important;
}
.one-explainer .how-to-icon{
  display: block;
  margin: 0px auto 20px;
  width: 150px;
  height: 150px;
  background-color: #a9a9a91a;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  /* box-shadow: 1px 1px 10px 0px #6b6b6b40; */
}
.how-icon{
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "toolkit-entypo";
  speak: none;
  font-size: 70px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.one-explainer h1.title{
  margin-bottom: 20px;
  font-size:  16px !important;
}
.main-title{
  margin: 0px auto 50px;
  text-align: center;
}
.one-explainer p.subtitle{
  font-size: 16px;
  margin: 0px;
}
.one-explainer .sub-note{
  font-size: 14px;
  margin: 0px;
}
.c-form{
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding: 30px 50px;
  border: 1px solid #ededed;
  max-width: 540px;
  text-align: left;
  background-color: white;
}
.input-field{
  flex-direction: column;
  margin: 10px 0px;
}
.input-field p{

}
.homepage-intro{
  margin-top: 120px !important;
}
.input-field input{
  width: 100%;
  outline: none !important;
  padding: 5px 0px;
  border: 0px;
  background-color:  transparent;
  border-bottom: 1px solid #e9e9e9;
  font-weight: 300;
  letter-spacing: -0.02em;
}
.input-field textarea{
  width: 100%;
  outline: none !important;
  padding: 5px 10px;
  height: 120px;
  margin: 5px 0px;
  background-color:  transparent;
  border: 1px solid #e9e9e9;
  font-weight: 300;
  letter-spacing: -0.02em;
}
.explainer{
  flex-wrap: wrap;
  flex-direction: row;
}
.input-field .submit{
  width: 100%;
  display: block;
  background-color: red;
}
.wrapper.home .upload-area{
  max-width: 590px !important;
  width: 100% !important;
}
.wrapper{
  min-width: 0px !important;
}
.wrapper.builder .builder-area{
  border-top: 1px solid #cccccc;
  margin-top: 80px;
  height: 100%;
}
.wrapper.builder .container.pt-4{
  padding-top: 10px !important;
  height:  80px !important;
}
.wrapper.builder .navbar{
  margin-bottom: 5px !important;
}
.thank-you-title{
  margin-bottom: 0px !important;
  color: #0373d8;
  letter-spacing: 1.15px;
  font-weight: 500;
  padding-bottom: 0px !important;
}
@media only screen and (max-width: 991px){

}
@media only screen and (max-width: 768px){
  .smaller-head-title{
    font-size: 3rem !important;
    width: 80%;
    margin: 20px auto 60px !important;
  }
  .dataScheme-list{
    margin-top: 60px !important;
  }
  .data-scheme-section {
      margin-bottom: 60px;
  }
  .explainer{
    flex-direction: column;
  }
  .explainer .one-explainer{
    margin-bottom: 40px;
  }
  .explainer .one-explainer:last-child{
    margin-bottom: 0px;
  }
  .wrapper.home .upload-area{
    padding: 30px;
  }
  .one-explainer .how-to-icon{
    margin: 0px auto 10px;
  }
  .one-explainer h1.title{
    margin-bottom: 10px;
  }
  .wrapper.home .upload-area{
    width: 90%;
  }
  .wrapper{
    min-width: 100% !important;
  }
  .data-scheme-list ul li{
    text-align: left;
  }
  .how-works-box{
    margin: 20px 0;
    width:  100%;
    max-width:  100%;
    margin-bottom:  0px;
  }
  .form-section{
    padding: 60px 0px;
  }
  .form-section .c-form{
    padding: 30px !important;
  }
}
@media only screen and (max-width: 576px){
  .fixed-nav .navbar{
    padding: 0px;
    margin: 0px;
  }
  .collapse, .collapse ul, .collapse ul li, .collapse ul li a {
    background-color: white !important;
  }
}
@media only screen and (max-width: 480px){
  .how-works-box{
    padding: 0px 10px;
  }
  .smaller-head-title {
    font-size: 2.4rem !important;
    width: 100%;
  }
  .data-scheme-list ul li {
    font-size: 17px;
    padding-left: 10px;
    text-align: left;
    margin-bottom: 25px;
  }

}
h1.block-title{

}
.more-link{
	margin-top:12px;
}
#blog-list img{
	width:100%;
    display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;

}
#blog-list .img-container{
	border-radius:15px;
}
#blog-list h3 a, #blog-list .subtitle a{
	color:inherit;
}
@media (max-width: 990px){
		.more-link{margin-bottom:20px;}
}
@media (min-width: 320px) and (max-width: 768px) {
	.blog-container{

	}
}