body {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }



.wrapper {
  width: 100%;
  min-width: 900px;
  margin: 0 auto; }

.wrapper.home .explainer {
  margin: 50px 40px;
  text-align: center; }
  .wrapper.home .explainer .item {
    display: inline-flex;
    width: 140px;
    height: 140px;
    line-height: 100px;
    padding: 0 10px;
    border-radius: 50%;
    background: #ffffff;
    color: #555556;
    vertical-align: top;
    justify-content: center;
    align-items: center; }
    .wrapper.home .explainer .item span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal; }
    .wrapper.home .explainer .item.after {
      width: 20px;
      content: '>';
      padding: 0;
      border-radius: 0;
      background: none;
      font-size: 22px;
      font-weight: bold;
      color: #c6c6c9; }
    .wrapper.home .explainer .item:not(.after) {
      -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset; }
.wrapper.home .upload-area {
  text-align: center;
  background: #ffffff;
  color: #a9aaab;
  border-radius: 6px;
  box-sizing: border-box;
  padding: 70px;
  width: 590px;
  margin: 0 auto 20px auto;
  /* -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; */
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  /* box-shadow: 0 1px 4px rgb(27, 28, 29), 0 0 40px rgba(11, 11, 11, 0.4) inset; */
  border: 1px dashed #b6b6b6;
}
  .wrapper.home .upload-area .upload-icon .fa {
    font-size: 120px; }
  .wrapper.home .upload-area .upload-text {
    margin: 0;
    font-size: 18px;
  margin-top: 50px;
}
  .wrapper.home .upload-area:hover {
    cursor: pointer; }
    .wrapper.home .upload-area:hover .upload-icon .fa {
      color: #0275d8; }
.wrapper.home input[type="file"] {
  display: none; }

.wrapper.builder {
  height: 100%; }
  .wrapper.builder .builder-area {
    height: calc(100% - 80px);
    min-height: 400px;
    clear: both; }
    .wrapper.builder .builder-area .slides {
      width: 165px;
      border-right: 1px solid #ccc;
      overflow-x: hidden;
      overflow-y: auto; }
    .wrapper.builder .builder-area .customization {
      width: 150px;
      border-left: 1px solid #ccc;
      float: right; }
    .wrapper.builder .builder-area .chart {
      height: calc(100% - 60px); }
    .wrapper.builder .builder-area .download {
      height: 60px;
      border-top: 1px solid #ccc;
      text-align: center; }
      .wrapper.builder .builder-area .download .btn-download {
        margin-top: 10px; }
    .wrapper.builder .builder-area .slides, .wrapper.builder .builder-area .customization, .wrapper.builder .builder-area .chart, .wrapper.builder .builder-area .download {
      position: relative;
      box-sizing: border-box;
      background: #f6f6f6; }
    .wrapper.builder .builder-area .slides, .wrapper.builder .builder-area .customization {
      height: 100%; }
    .wrapper.builder .builder-area .slides, .wrapper.builder .builder-area .chart, .wrapper.builder .builder-area .download {
      float: left; }
    .wrapper.builder .builder-area .chart, .wrapper.builder .builder-area .download {
      width: calc(100% - 315px); }
    .wrapper.builder .builder-area .slides .title {
      text-align: center;
      font-size: 14px;
      font-weight: 600;
      color: #666;
      margin: 10px 0; }
    .wrapper.builder .builder-area .slides ol.slide-list {
      padding: 0 14px 0 26px;
      width: 158px;
      overflow: hidden; }
      .wrapper.builder .builder-area .slides ol.slide-list li {
        font-size: 14px;
        margin-bottom: 10px;
        padding: 4px;
        cursor: pointer; }
        .wrapper.builder .builder-area .slides ol.slide-list li .slide-item {
          width: 110px;
          height: 70px;
          background: #fff;
          color: #999; }
          .wrapper.builder .builder-area .slides ol.slide-list li .slide-item .slide-name {
            text-align: center;
            font-size: 13px;
            margin-bottom: 30px; }
          .wrapper.builder .builder-area .slides ol.slide-list li .slide-item .slide-info {
            text-align: center;
            font-size: 12px;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
        .wrapper.builder .builder-area .slides ol.slide-list li.selected {
          color: #666;
          background: #b4b4b4; }
          .wrapper.builder .builder-area .slides ol.slide-list li.selected .slide-item {
            color: #333; }
            .wrapper.builder .builder-area .slides ol.slide-list li.selected .slide-item .slide-name {
              font-weight: 600; }
    .wrapper.builder .builder-area .customization .setting {
      width: 90%;
      margin: 10px auto 20px auto; }
      .wrapper.builder .builder-area .customization .setting .key {
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: #666;
        margin: 5px 0; }
    .wrapper.builder .builder-area .chart {
      background: #fff; }
      .wrapper.builder .builder-area .chart #chart-container {
        width: calc(100% - 50px);
        height: calc(100% - 50px);
        margin: 25px 0 0 25px;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset; }



/* new styles  */

/*# sourceMappingURL=style.css.map */
