@import "mixin";

$header-height: 65px;

body {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.header {
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
  padding: 8px 10px 0 10px;

  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;

    a {
      color: #636c72;
    }
  }

  ul.nav {
    margin-top: 5px;
  }

  height: $header-height;
}

.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.wrapper.home {

  .explainer {
    margin: 50px 40px;
    text-align: center;
    .item {
      display: inline-block;
      width: 140px;
      height: 100px;
      line-height: 100px;
      padding: 0 10px;
      border-radius: 10px;
      background: #eceeef;
      color: #555556;
      vertical-align: top;

      span {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
      }

      &.after {
        width: 20px;
        content: '>';
        padding: 0;
        border-radius: 0;
        background: none;
        font-size: 22px;
        font-weight: bold;
        color: #c6c6c9;
      }

      &:not(.after) {
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      }

    }
  }

  .upload-area {
    text-align: center;
    background: #eceeef;
    color: #a9aaab;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 30px;
    width: 480px;
    margin: 0 auto 20px auto;

    .upload-icon {
      .fa {
        font-size: 120px;
      }
    }

    .upload-text {
      margin: 0;
      font-size: 18px;
    }

    &:hover {
      cursor: pointer;
      .upload-icon {
        .fa {
          color: #0275d8;
        }
      }
    }

    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  }

  input[type="file"] {
    display: none;
  }

  .upload-form {

  }
}

.wrapper.builder {

  width: 100%;
  min-width: 900px;
  height: 100%;

  .builder-area {
    height: calc(100% - #{$header-height});
    min-height: 400px;
    clear: both;

    .slides {
      border-right: 1px solid #ccc;
      overflow: auto;
    }

    .customization {
      border-left: 1px solid #ccc;
      float: right;
    }

    .chart {
      height: calc(100% - 60px);
    }

    .download {
      height: 60px;
      border-top: 1px solid #ccc;
      text-align: center;
      .btn-download {
        margin-top: 10px;
      }
    }

    .slides, .customization, .chart, .download {
      position: relative;
      box-sizing: border-box;
      background: #f6f6f6;
    }

    .slides, .customization {
      width: 160px;
      height: 100%;
    }

    .slides, .chart, .download {
      float: left;
    }

    .chart, .download {
      width: calc(100% - 320px);
    }

    .slides {
      .title {
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        color: #666;
        margin: 10px 0;
      }

      ol.slide-list {
        padding: 0 14px 0 26px;

        li {
          font-size: 14px;
          margin-bottom: 10px;
          padding: 4px;
          cursor: pointer;

          .slide-item {
            width: 110px;
            height: 70px;
            background: #fff;
            color: #999;

            .slide-name {
              text-align: center;
              font-size: 13px;
              margin-bottom: 30px;
            }

            .slide-info {
              text-align: center;
              font-size: 12px;
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }

          }

          &.selected {
            color: #666;
            background: #b4b4b4;

            .slide-item {

              .slide-name {
                font-weight: 600;
              }

              color: #333;

            }
          }
        }
      }
    }

    .customization {
      .setting {
        width: 90%;
        margin: 10px auto 20px auto;
        .key {
          text-align: center;
          font-size: 14px;
          font-weight: 600;
          color: #666;
          margin: 5px 0;
        }
        .value {

        }
      }
    }

    .chart {
      background: #fff;
      #chart-container {
        width: calc(100% - 20px);
        height: calc(100% - 20px);
        margin: 10px 0 0 10px;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
      }
    }
  }
}