{% extends 'layout/base.jinja2' %}
{% import 'partial/header.jinja2' as header %}
{% import 'partial/footer.jinja2' as footer %}

{% import 'partial/sections/firstTopSection.jinja2' as firstSection %}
{% import 'partial/sections/howItWorksSection.jinja2' as howItWorksSection %}
{% import 'partial/sections/uploadSection.jinja2' as uploadSection %}
{% import 'partial/sections/whyUseSection.jinja2' as whyUseSection %}
{% import 'partial/sections/dataSchemeSection.jinja2' as dataSchemeSection %}
{% import 'partial/sections/forWho.jinja2' as forWho %}
{% import 'partial/sections/haveOwnStructure.jinja2' as haveOwnStructure %}
{% import 'partial/sections/joinSection.jinja2' as joinSection %}

{% block content %}


    {{ header.render() }}

    {{ firstSection.render() }}
    {{ howItWorksSection.render() }}
    {{ uploadSection.render() }}
    {{ whyUseSection.render() }}
    {{ dataSchemeSection.render() }}
    {{ haveOwnStructure.render() }}
    {{ forWho.render() }}
    {{ joinSection.render() }}
    {{ footer.render() }}


{% endblock content %}

{% block css %}
    {{ super() }}
{% endblock css %}

{% block js %}
    {{ super() }}
    <script src="{{ s_url_for('js', 'home.js') }}"></script>
{% endblock js %}
