<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{{ _('PPTX Builder') }}{% endblock title %}</title>

    <link rel="apple-touch-icon" sizes="57x57" href="{{ s_url_for('favicon', 'apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ s_url_for('favicon', 'apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ s_url_for('favicon', 'apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ s_url_for('favicon', 'apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ s_url_for('favicon', 'apple-icon-114x114.png') }} ">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ s_url_for('favicon', 'apple-icon-120x120.png') }} ">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ s_url_for('favicon', 'apple-icon-144x144.png') }} ">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ s_url_for('favicon', 'apple-icon-152x152.png') }} ">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ s_url_for('favicon', 'apple-icon-180x180.png') }} ">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ s_url_for('favicon', 'android-icon-192x192.png') }} ">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ s_url_for('favicon', 'favicon-32x32.png') }} ">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ s_url_for('favicon', 'favicon-96x96.png') }} ">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ s_url_for('favicon', 'favicon-16x16.png') }} ">
    <link rel="manifest" href="{{ s_url_for('favicon', 'manifest.json') }} ">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ s_url_for('favicon', 'ms-icon-144x144.png') }} ">
    <meta name="theme-color" content="#ffffff">

    {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/components-font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ s_url_for('css', 'style.css') }}">
    {% endblock css %}

    {% block meta %}

    {% endblock meta %}
</head>
<body>
{% block content %}{% endblock content %}
{% block js %}
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/tether/dist/js/tether.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ s_url_for('js', 'global.js') }}"></script>
{% endblock js %}
</body>
</html>