{%- macro render() -%}

    <img class="about-image" src="../../static/img/aboutImg.jpg">
    <div class="block app-block-intro gray-background">
      <div class="container text-xs-center">
        <h1 class="block-title mb-0 text-uppercase app-myphone-brand smaller-head-title">About Us</h1>
        <p class="lead mb-5 pb-5"> Our mission is to bring PPTX creation to the 21st century.</p>
      </div>
      <div class="container text-xs-center">
        <h2 class="main-title lead mx-auto">The <strong>team</strong></h2>
        <p class="main-title lead mx-auto">
          PPTX Builder was founded by a mix of market research specialists, including Reporting Analysts, Survey Programmers and Researchers. Our combined experience in the industry and shared enjoyment of story telling with data naturally lead us to develop this application.
        </p>
      </div>
    </div>

    <div class="block block-bordered-lg text-center no-border">
      <div class="container-fluid">
        <p class="lead mb-4">
          Join thousands of people already using PPTX Builder. Try PPTX Builder for <strong>free</strong>!
        </p>
        <form class="form-inline d-flex justify-content-center">
          <a href="/#upload-section" class="btn btn-primary mb-3 ml-sm-1">Get started</a>
        </form>
      </div>
    </div>

{%- endmacro %}
