{%- macro render() -%}

<div id="datasources-list" class="block app-block-stats block-bordered-lg">
  <div class="container">
    <div class="row">
      <h2 class="main-title lead mx-auto=">Browse our <b>blog</b></h2>
        <p class="main-title lead mx-auto" style="margin-bottom:35px;">
          Read our blog posts< for insightful articles and personal reflections on a vareity of topics including 
          PowerPoint automation, data visualization, big data, technological trends and more. 
        </p>
      <div class="row" style="margin-left:-10px;">
        
          <div class="col-md-8 col-md-offset-8 datasource-container">
            <div class="img-container">
              <a href="/datasource/@datasmoothie/public/world-happiness-report-2015-2017/">
                <img src="../../static/img/sample.jpg">  
              </a>
            </div>
            <h1 class="title lead">
            	<a href="/blog">Automate Your PowerPoint Presentations</a>
            </h1>
            
            <div class="subtitle">April 6, 2018</a></div>
            
            <div class="more-link"><a href="/datasource/@datasmoothie/public/world-happiness-report-2015-2017/">Read on →</a></div>
          </div>
                
      </div>
    </div>
  </div>
</div>

{%- endmacro %}
