{%- macro render() -%}

<div id="blog-list" class="block app-block-stats block-bordered-lg">
  <div class="container">
    <div class="row">
      <h2 style=""><b>Blog</b></h2>
        <p class="bm-35 lead" style="margin-bottom:35px;">
          Explore <b>our blog</b> for impactful resources, insightful articles, personal reflections 
          and ideas that inspire action.
        </p>
      <div class="row" style="margin-left:-10px;">
        
          <div class="col-md-3 col-sm-6 col-xs-12 blog-container">
            <div class="img-container">
              <a href="/blog/@datasmoothie/public/world-happiness-report-2015-2017/">
                <img src="sample.jpg">
              </a>
            </div>
            <h3><a href="/blog/@datasmoothie/public/world-happiness-report-2015-2017/">Automate Your PowerPoint Presentations with PPTX Builder </a></h3>
            
            <div class="subtitle"><a href="/blog/@datasmoothie/public/world-happiness-report-2015-2017/">Survey of the state of global happiness</a></div>
            
            <div class="more-link"><a href="/blog/@datasmoothie/public/world-happiness-report-2015-2017/">Use it →</a></div>
          </div>
                
      </div>
    </div>
  </div>
</div>

{%- endmacro %}
