{%- macro render() -%}

<div id="datasources-list" class="block app-block-stats block-bordered-lg">
  <div class="container">
    <div class="row">
      <h2 style=""><b>Blog</b></h2>
        <p class="bm-35 lead" style="margin-bottom:35px;">
          Browse our open datasources and use them to <b>create data stories for free</b>.
          No tech superpowers needed - if you can create a blog post you can create a data story with Datasmoothie.
        </p>
      <div class="row" style="margin-left:-10px;">
        
          <div class="col-md-3 col-sm-6 col-xs-12 datasource-container">
            <div class="img-container">
              <a href="/datasource/@datasmoothie/public/world-happiness-report-2015-2017/">
                <img src="../../static/img/sample.jpg">  
              </a>
            </div>
            <h3><a href="/datasource/@datasmoothie/public/world-happiness-report-2015-2017/">World happiness report 2015-2017</a></h3>
            
            <div class="subtitle"><a href="/datasource/@datasmoothie/public/world-happiness-report-2015-2017/">Survey of the state of global happiness</a></div>
            
            <div class="more-link"><a href="/datasource/@datasmoothie/public/world-happiness-report-2015-2017/">Use it →</a></div>
          </div>
        
          <div class="col-md-3 col-sm-6 col-xs-12 datasource-container">
            <div class="img-container">
              <a href="/datasource/@datasmoothie/public/ofsted/">
                <img src="/media/datasource_profile/datasmoothie_788Kristin_Olsen_School_Children_Picture.jpg.200x200_q85_crop.jpg">
              </a>
            </div>
            <h3><a href="/datasource/@datasmoothie/public/ofsted/">Ofsted: School Inspections and Outcomes</a></h3>
            
            <div class="subtitle"><a href="/datasource/@datasmoothie/public/ofsted/">Every single Ofsted school inspection of nurseries, primary schools, etc and their outcomes</a></div>
            
            <div class="more-link"><a href="/datasource/@datasmoothie/public/ofsted/">Use it →</a></div>
          </div>
        
          <div class="col-md-3 col-sm-6 col-xs-12 datasource-container">
            <div class="img-container">
              <a href="/datasource/@datasmoothie/public/2017-general-elections-political-donations-weeks-3/">
                <img src="/media/datasource_profile/datasmoothie_7631280px-Polling_station_6_may_2010.jpg.200x200_q85_crop.jpg">
              </a>
            </div>
            <h3><a href="/datasource/@datasmoothie/public/2017-general-elections-political-donations-weeks-3/">2017 General Elections: Political donations weeks 1-3</a></h3>
            
            <div class="subtitle"><a href="/datasource/@datasmoothie/public/2017-general-elections-political-donations-weeks-3/">Electoral commission data on political donations reported between May 3 and 23</a></div>
            
            <div class="more-link"><a href="/datasource/@datasmoothie/public/2017-general-elections-political-donations-weeks-3/">Use it →</a></div>
          </div>
        
          <div class="col-md-3 col-sm-6 col-xs-12 datasource-container">
            <div class="img-container">
              <a href="/datasource/@datasmoothie/public/uk-political-donations-elections-2015/">
                <img src="/media/datasource_profile/datasmoothie_723imgres-5.jpg.200x200_q85_crop.jpg">
              </a>
            </div>
            <h3><a href="/datasource/@datasmoothie/public/uk-political-donations-elections-2015/">UK Political donations - elections 2015</a></h3>
            
            <div class="subtitle"><a href="/datasource/@datasmoothie/public/uk-political-donations-elections-2015/">Electoral commission data about political donations for the 2015 election campaign</a></div>
            
            <div class="more-link"><a href="/datasource/@datasmoothie/public/uk-political-donations-elections-2015/">Use it →</a></div>
          </div>
        
      </div>
    </div>
  </div>
</div>

{%- endmacro %}
