{%- macro render() -%}

    <img class="about-image" src="../../static/img/aboutImg.jpg">
    <div class="block app-block-intro gray-background">
      <div class="container text-xs-center">
        <h2 class="block-title mb-0 text-uppercase app-myphone-brand smaller-head-title">Automate Your PowerPoint Presentations with PPTX Builder </h2>
      </div>

	<article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto"> 

			<p>We think you’ll agree that working with data is no piece of cake.</p> 
			<p>You plough through multiple datasets in search of a meaningful story.</p>
			<p>You’re asked to create visually appealing presentations – and expected to get them done pronto.</p>
			<p>Often, you’re the only pair of eyes on a project – and there are times when you lie awake at night, wondering whether an error could have snuck in to the presentation you delivered earlier that day.</p>
			<p>Yes – working with data is an adventure full of unexpected nuances.</p> 
			<p>Which is why finding a quicker and less error-prone way to create beautiful PowerPoint presentations would be a game changer for you.</p> 
			<p>Luckily, PPTX Builder was brought to life – and we’ll tell you how it can help.</p> 

            <h2 class="section-heading"><strong>The challenge of data visualisation</strong></h2>

            <p>The experience of having to urgently whip up a visually appealing, accurate and meaningful presentation is very familiar to me.</p> 
			<p>A researcher in my ‘previous life’, I’ve had a fair share of the data game. Making a PowerPoint deck look good, while simultaneously attempting to weave into it a convincing story and not litter it with errors, isn’t easy.</p> 
			<p>The truth is that, manually transforming a massive dataset into a coherent, effective and accurate presentation can be a slow, tedious and taxing job.</p> 
			<p>You then spend hours (if not days) cross-referencing your data and correcting errors that have managed to sneak in along the way.</p> 
			<p>It isn’t the most efficient process – and it can eat up a large chunk of your time.</p> 

            <h2 class="section-heading"><strong>The solution</strong></h2>

			<p>PPTX Builder provides the solution to the challenges modern-day PowerPoint wizards face. </p>
			<p>A cloud-based platform, PPTX Builder allows you to create compelling PowerPoint decks directly from your data tables.</p> 
			<p> decide how to visualise your data as well as which data points to include – and PPTX Builder does the job for you. </p>
			<p>It’s quick and there’s no room for error, because this isn’t an outdated and fiddly ‘copy and paste’ job. </p>

			<h2 class="section-heading"><strong>How PPTX Builder works</strong></h2>
			<p>Creating visually appealing PowerPoint decks with PPTX Builder is simple - just follow these steps:</p>
			<p>1.	Upload your data. Upload the dataset into the tool using our data structure guidelines. </p>

			<p>2.	Interact with your data. PPTX Builder isn’t about irrelevant automated charts. It’s your data - and you get to choose how to visualise it. You know best how to achieve the nods of approval from your clients - we’ll just provide the tools that make the process smoother, quicker and error-free. </p>

			<p>3.	Download Your PowerPoint. Once you’ve selected your data intersections and how you’d like it presented – hit download. Moments later, your presentation is ready to be shared with the world! </p>

			<h2 class="section-heading"><strong>Benefits of PPTX Builder</strong></h2>

			<p>Whether you’re a data analyst looking for a quicker way to capture insights, a PR professional looking to create an engaging story for your client, or a business owner keen to visualise your sales data - PPTX Builder is a tool for you. Here’s why. </p> 
			
			<p>1.	It saves time. Turn large volumes of data into a beautiful presentation in moments. You won’t need to do it manually, so you will save tons of time. </p>

			<p>2.	It reduces the cost. Time is money, they say – and we couldn’t agree more. Less time spent on charting translates into lower project cost. </p>

			<p>3.	It increases data quality. No more inaccuracies that appear when you least expect them to. Your presentation is the dataset - just in a more concise and visually appealing format. </p>

			<p>4.	It’s simple to use. No coding, no scripts – there’s nothing fiddly about PPTX Builder. Just upload your dataset and choose how you’d like the data to be visualised. </p>

			<p>5.	Beautifully presented data. It’s your dataset - so you get to decide what the PowerPoint presentation looks like. PPTX Builder will do the data visualisation – your way.</p>

			<h2 class="section-heading"><strong>Now, you’re probably keen to see how PPTX Builder works, aren’t you?</strong></h2>

			<p>Now, you’re probably keen to see how PPTX Builder works, aren’t you? 
			We’d love for you to give it a go - simply upload your dataset or play with our dummy data here.</p>

			<p>If you’d like to learn more about how PPTX Builder can help make life easier, fill in this quick form - and we’ll be in touch soon.</p>

          </div>
        </div>
      </div>
    </article>


    <div class="block block-bordered-lg text-center no-border">
      <div class="container-fluid">
        <p class="lead mb-4">
          Join thousands of people already using PPTX Builder. Try PPTX Builder for <strong>free</strong>!
        </p>
        <form class="form-inline d-flex justify-content-center">
          <a href="/#upload-section" class="btn btn-primary mb-3 ml-sm-1">Get started</a>
        </form>
      </div>
    </div>

{%- endmacro %}
