{%- macro render() -%}


<div id="data-scheme" class="block block-bordered-lg pb-0 app-block-stats no-border">

  <div class="container data-scheme-section">
    <div class="row">
      <div class="col-sm-12 text-center mb-5">
        <h2 class="main-title lead mx-auto">Data Structure <strong>Guidelines</strong></h2>
        <p class="main-title lead mx-auto">Uploading your data to PPTX Builder is easy! Download our <a href="../static/excel_template_structure_for_download.xlsx" target="_blank">dummy Excel input file</a> 
        <br> and populate it with your data following our simple steps below:</p>
      </div>
      <div class="col-lg-7 col-md-7 dataScheme-image flex-property">
        <img
          src="../static/img/excelTable.png"
          class="app-translate-5">
        <hr class="mt-0 mb-5 mx-auto d-md-none">
      </div>
      <div class="col-lg-5 col-md-5 text-center text-md-left pb-5 dataScheme-list flex-property">

        <div class="data-scheme-list">
          <ul class="">
            <li>Ensure there’s one table per sheet.</li>
            <li>Ensure you name each sheet.</li>
            <li>Side and top headers must contain two levels (i.e. the variable label and sub categories), see <a href="../static/excel_template_structure_for_download.xlsx" target="_blank"> dummy Excel input file</a>.</li>
            <li>Cell value format should be in percentages.</li>
            <li>Missing values should be left blank or replaced with a dash (“-”).</li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>


{%- endmacro %}
