{%- macro render() -%}

    <div class="block app-block-intro homepage-intro">
      <div class="container text-xs-center">
        <h1 class="block-title mb-0 text-uppercase app-myphone-brand smaller-head-title">Automate Your PowerPoint decks with PPTX Builder</h1>
        <p class="lead mb-5 pb-5">PPTX Builder is a cloud based platform that allows you to interactively create PowerPoint decks directly from your data tables.</p>
        <img src="../static/img/topSection.png">
      </div>
    </div>

{%- endmacro %}
