{%- macro render() -%}

<div class="home block block-bordered-lg  gray-background no-border">
<div class="explain-wrap container text-xs-center">
  <h2 class="main-title lead mx-auto">Who is <strong>PPTX Builder</strong> for?</h2>
    <div class="explainer flex-property">
      <div class="how-works-box">
        <h1 class="title lead"><strong>Market Research</strong></h1>
        <p class="subtitle featured-list-icon-text">Rapidly convert your data to meaningful charts in a PowerPoint to share with your clients, colleagues and the world. Spend less time manually creating charts, doing data-entry and number checking.</p>
      </div>
      <div class="how-works-box">
        <h1 class="title lead"><strong>Data Analysts</strong></h1>
        <p class="subtitle featured-list-icon-text">Pull a story out of your data more easily. Slice and dice your data and visualise it in a number of ways to quickly identify trends and key insights.</p>
      </div>
      <div class="how-works-box">
        <h1 class="title lead"><strong>Marketing & PR</strong></h1>
        <p class="subtitle featured-list-icon-text">Generate content for your channels faster by examining and visualising large volumes of data with ease. Create engaging stories directly from your data to share with the world.</p>
      </div>
      <div class="how-works-box">
        <h1 class="title lead"><strong>Business Intelligence</strong></h1>
        <p class="subtitle featured-list-icon-text">Discover answers on the fly by instantly visualising all your data. Easily share your insight that will drive your business in a PowerPoint with your colleagues.</p>
      </div>
    </div>
    </div>
</div>

{%- endmacro %}
