{%- macro render() -%}



<div class="cusSecpublic">
  <div class="container">
    <div class="row">
    <div class="cusSecpublicmain">
      <h2><b>Public datasources</b></h2>
      <p> Browse our open datasources and use them to <b>create data stories for free</b>.
        No tech superpowers needed - if you can create a blog post you can create a data story with Datasmoothie. </p>
        <div class="cuspublicrow">
        	<div class="cuspublicrowBox">
            	<div class="cuspublicrowBoxImg" style="background:url(images/img1.jpg);"></div>
                <div class="cuspublicrowBoxcnt">

                <h4><a href="javascript:script:void(0);">World happiness report 2015-2017</a></h4>
                <p><a href="javascript:script:void(0);">Survey of the state of global happiness</a></p>
                <div class="cususeIt"><a href="javascript:script:void(0);">Use it →</a></div>

                </div>
            </div>
            <div class="cuspublicrowBox">
            	<div class="cuspublicrowBoxImg" style="background:url(images/img2.jpg);"></div>
                <div class="cuspublicrowBoxcnt">
                <h4><a href="javascript:script:void(0);">Ofsted: School Inspections and Outcomes</a></h4>
                <p><a href="javascript:script:void(0);">Every single Ofsted school inspection of nurseries, primary schools, etc and their outcomes</a></p>
                <div class="cususeIt"><a href="javascript:script:void(0);">Use it →</a></div>
                </div>
            </div>
            <div class="cuspublicrowBox">
            	<div class="cuspublicrowBoxImg" style="background:url(images/img3.jpg);"></div>
                <div class="cuspublicrowBoxcnt">
                <h4><a href="javascript:script:void(0);">2017 General Elections: Political donations weeks 1-3</a></h4>
                <p><a href="javascript:script:void(0);">Electoral commission data on political donations reported between May 3 and 23</a></p>
                <div class="cususeIt"><a href="javascript:script:void(0);">Use it →</a></div>
                </div>
            </div>
            <div class="cuspublicrowBox">
            	<div class="cuspublicrowBoxImg" style="background:url(images/img4.jpg);"></div>
                <div class="cuspublicrowBoxcnt">
                <h4><a href="javascript:script:void(0);">UK Political donations - elections 2015</a></h4>
                <p><a href="javascript:script:void(0);">Electoral commission data about political donations for the 2015 election campaign</a></p>
                <div class="cususeIt"><a href="javascript:script:void(0);">Use it →</a></div>
                </div>
            </div>
        </div>
        </div>
    </div>
  </div>
</div>



<div class="home block block-bordered-lg  gray-background no-border">
<div class="explain-wrap container text-xs-center">
  <h2 class="main-title lead mx-auto">Who is <strong>PPTX Builder</strong> for?</h2>
    <div class="explainer flex-property">
      <div class="how-works-box">
        <h1 class="title lead"><strong>Market Research</strong></h1>
        <p class="subtitle featured-list-icon-text">Rapidly convert your data to meaningful charts in a PowerPoint to share with your clients, colleagues and the world. Spend less time manually creating charts, doing data-entry and number checking.</p>
      </div>
      <div class="how-works-box">
        <h1 class="title lead"><strong>Data Analysts</strong></h1>
        <p class="subtitle featured-list-icon-text">Pull a story out of your data more easily. Slice and dice your data and visualise it in a number of ways to quickly identify trends and key insights.</p>
      </div>
      <div class="how-works-box">
        <h1 class="title lead"><strong>Marketing & PR</strong></h1>
        <p class="subtitle featured-list-icon-text">Generate content for your channels faster by examining and visualising large volumes of data with ease. Create engaging stories directly from your data to share with the world.</p>
      </div>
      <div class="how-works-box">
        <h1 class="title lead"><strong>Business Intelligence</strong></h1>
        <p class="subtitle featured-list-icon-text">Discover answers on the fly by instantly visualising all your data. Easily share your insight that will drive your business in a PowerPoint with your colleagues.</p>
      </div>
    </div>
    </div>
</div>

{%- endmacro %}
