{%- macro render() -%}

<div class="block text-center block-bordered-lg">
  <div class="container-fluid">
  <h2 class="main-title lead mx-auto">Have your <strong>own data structure?</strong></h2>
    <br>
   <p class="main-title lead mx-auto">Our team can work with you to tailor PPTX Builder to work with your existing data structure or schema.</p>
    <br>
    <form class="form-inline d-flex justify-content-center">
      <a href="/get-in-touch" class="btn btn-primary mb-3 ml-sm-1 upload-dummy">Contact us</a>
    </form>
  </div>
</div>

{%- endmacro %}
