{%- macro render() -%}

<div class="home block block-bordered-lg">
<div class="explain-wrap container text-xs-center">
  <h2 class="main-title lead mx-auto">How does <strong>PPTX Builder</strong> work?</h2>
    <div class="explainer flex-property">
      <div class="one-explainer">
        <div class="how-to-icon text-primary">
          <span class="how-icon icon-upload-to-cloud"></span>
        </div>
        <h1 class="title lead">1. <strong>Upload your data</strong></h1>
        <p class="subtitle featured-list-icon-text">Upload Excel spreadsheets</p>
        <p class="sub-note">*Csv and IBM Dimension compatibility coming soon</p>
      </div>
      <div class="one-explainer">
        <div class="how-to-icon text-primary">
          <span class="how-icon icon-flow-cascade"></span>
        </div>
        <h1 class="title lead">2. <strong>Interact with your data</strong></h1>
        <p class="subtitle featured-list-icon-text">Choose how to visualise<br> your data, what chart type<br> to use and what intersection<br> of data to focus on
</p>
      </div>
      <div class="one-explainer">
        <div class="how-to-icon text-primary">
          <span class="how-icon icon-download"></span>
        </div>
        <h1 class="title lead">3. <strong>Download PowerPoint</strong></h1>
        <p class="subtitle featured-list-icon-text">Share with clients, <br> colleagues and the world</p>
      </div>
    </div>
    </div>
</div>

{%- endmacro %}
