{%- macro render() -%}

<div class="block block-bordered-lg text-center gray-background no-border">
  <div class="container-fluid">
    <p class="lead mb-4">
      Try PPTX Builder for <strong>free</strong>!
    </p>
    <form class="form-inline d-flex justify-content-center">
      <a href="#upload-section" class="btn btn-primary mb-3 ml-sm-1">Get started</a>
    </form>
  </div>
</div>

{%- endmacro %}
