{%- macro render() -%}

<div class="block block-bordered-lg text-center no-border">
  <div class="container-fluid">
    <p class="lead mb-4">
      Join thousands of people already using PPTX Builder. Try PPTX Builder for <strong>free</strong>!
    </p>
    <form class="form-inline d-flex justify-content-center">
      <button class="btn btn-primary mb-3 ml-sm-1">Get started</button>
    </form>
    <small class="text-muted">
      By clicking "Get started" I agree to PPTX Builders's
      <a href="#">Terms of service</a>
    </small>
  </div>
</div>

{%- endmacro %}
