{%- macro render() -%}

    <br>
    <br>
    <div class="block app-block-intro gray-background">
      <div class="container text-xs-center">
        <h1 class="block-title mb-0 text-uppercase app-myphone-brand smaller-head-title">
            Privacy policy
        </h1>
      </div>
    </div>


    <div class="block block-bordered-lg app-block-stats">
      <div class="container">

          <h2 class="block-title"> PPTX Builder Privacy Policy </h2>

          <p class="lead m-t-md">We are committed to safeguarding the privacy of our website visitors; this policy sets
              out how we will treat your personal information.</p>
          <p class="lead m-t-md">Our website uses cookies. We will ask you to consent to our use of cookies in
              accordance with the terms of this policy when you first visit our website. By using our website and
              agreeing to this policy, you consent to our use of cookies in accordance with the terms of this
              policy.</p>
          <h4>1. What information do we collect?</h4>
          <p class="lead m-t-md">We may collect, store and use the following kinds of personal information: <br>
              (a) information about your computer and about your visits to and use of this website (including your IP
              address, geographical location, browser type and version, operating system, referral source, length of
              visit, page views, website navigation and personal details you submit to us); <br>
              (b) information relating to any transactions carried out between you and us on or in relation to this
              website, including information relating to any purchases you make of our goods or services; <br>
              (c) information that you provide to us for the purpose of registering with us (including name, email
              address, company, phone number, geographical location, comments or questions; <br>
              (d) information that you provide to us for the purpose of subscribing to our website services, email
              notifications and/or newsletters (including (including name, email address, company, phone number,
              geographical location, comments or questions); <br>
              (e) any other information that you choose to send to us;</p>
          <h4>2. Cookies</h4>
          <p class="lead m-t-md">A cookie is a file containing an identifier (a string of letters and numbers) that is
              sent by a web server to a web browser and stored by the browser. The identifier is then sent back to the
              server each time the browser requests a page from the server. This enables the web server to identify and
              track the web browser. If you do not know what cookies are, or how to control or delete them, then we
              recommend you visit <a href="http://www.aboutcookies.org.uk/">http://www.aboutcookies.org.uk/</a> for detailed guidance. Currently, we operate an
              ‘implied consent’ policy which means that we assume you are happy with this usage. If you are not happy,
              then you should either not use this site, or you should delete the cookies having visited the site, or you
              should browse the site using your browser’s anonymous usage setting (called “Incognito” in Chrome,
              “InPrivate” for Internet Explorer, “Private Browsing” in Firefox and Safari etc.)
              We use both “session” cookies and “persistent” cookies on the website. Session cookies will be deleted
              from your computer when you close your browser. Persistent cookies will remain stored on your computer
              until deleted, or until they reach a specified expiry date.
              We will use the session cookies to: keep track of you whilst you navigate the website; keep track of items
              in your shopping basket; prevent fraud and increase website security; and use your details to help with
              navigation around the site. We will use the persistent cookies to: enable our website to recognise you
              when you visit and keep track of your preferences in relation to the use of our website.
              We use Google Analytics to analyse the use of this website. Google Analytics generates statistical and
              other information about website use by means of cookies, which are stored on users’ computers. The
              information generated relating to our website is used to create reports about the use of the website.
              Google will store this information. Google’s privacy policy is available
              at http://www.google.com/privacypolicy.html.
              We also use some website tracking software called Act-On which uses cookies to monitor your journey
              through our website and remember your preferences when you return to our site.</p>
          <h4>3. Contact</h4>

          <p class="lead m-t-md">This website is owned and operated by PPTX Builder. If you have any questions about
              this privacy policy or
              our treatment of your personal data, please write to us by email to <a href="mailto:info@pptxbuilder.com">info@pptxbuilder.com</a>
              .</p>

      </div>
    </div>


{%- endmacro %}
