{%- macro render() -%}

<div id="upload-section" class="wrapper home block block-bordered-lg">
<div class="container text-xs-center">
  <h2 class="main-title lead mx-auto">Try it <strong>yourself</strong></h2>
  <p class="main-title lead mx-auto">Upload your data in an xlsx format using our data structure, see our
  <a href="/#data-scheme">data structure guidelines</a> below.
  <br> Or use our dummy data to explore the application yourself.</p>
  <div class="upload-area">
      <div class="upload-icon">
          <i class="fa fa-cloud-upload" aria-hidden="true"></i>
      </div>
      <p class="upload-text">{{ _('Drag and drop files here or select use our <a id="upload-dummy" class="upload-dummy" href="javascript:void(0)">dummy data</a> to experiment
') }}</p>
  </div>
  <input type="file" name="the-file" id="the-file" accept=".xlsx,.xls">
  <form class="upload-form" id="upload-form" method="post" action="{{ url_for('builder.create') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="hidden" name="file">
  </form>
  </div>
  </div>
</div>

{%- endmacro %}
