{%- macro render() -%}

<div id="upload-section" class="wrapper home block block-bordered-lg">
<div class="container text-xs-center">
  <h2 class="main-title lead mx-auto">Try it <strong>yourself</strong></h2>
  <p class="main-title lead mx-auto">Jump right in and explore <a id="upload-dummy" class="upload-dummy" href="javascript:void(0)">PPTX Builder with our sample data</a>. 
  <br> Or upload your own data following our <a href="/#data-scheme">data structure guidelines</a> below. 

  <div class="upload-area">
      <div class="upload-icon">
          <i class="fa fa-cloud-upload" aria-hidden="true"></i>
      </div>
      <p class="upload-text">{{ _('<strong>Choose a file</strong>< or drag it here.') }}</p>
  </div>
  <input type="file" name="the-file" id="the-file" accept=".xlsx,.xls">
  <form class="upload-form" id="upload-form" method="post" action="{{ url_for('builder.create') }}">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="hidden" name="file">
  </form>
  </div>
  </div>
</div>

{%- endmacro %}
