{%- macro render() -%}


<div class="block block-bordered-lg why-use-section gray-background no-border">
  <div class="container">
    <div class="row justify-content-center">
    <div class="col-sm-8 text-center mb-5">
      <p class="lead mx-auto">Why use <strong>PPTX Builder</strong> ?</p>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <ul class="featured-list">
          <li class="mb-5">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-pie-chart"></span>
            </div>
            <p class="featured-list-icon-text mb-0"><strong>Data volumes</strong></p>
            <p class="featured-list-icon-text">
              Churn large volumes of data to meaningful charts in a presentation
            </p>
          </li>

          <li class="mb-5">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-credit"></span>
            </div>
            <p class="featured-list-icon-text mb-0"><strong>Reduces costs</strong></p>
            <p class="featured-list-icon-text">
              Reduces the cost and time involved in presentation production
            </p>
          </li>

        </ul>
      </div>
      <div class="col-sm-6">
        <ul class="featured-list">

          <li class="mb-5">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-shield"></span>
            </div>
            <p class="featured-list-icon-text mb-0"><strong>Increase data quality</strong></p>
            <p class="featured-list-icon-text">
              Increases data quality and reduces checking effort
            </p>
          </li>

          <li class="mb-5">
            <div class="featured-list-icon text-primary">
              <span class="icon icon-line-graph"></span>
            </div>
            <p class="featured-list-icon-text mb-0"><strong>Revenue stream</strong></p>
            <p class="featured-list-icon-text">
              For client facing business, PPTX Builder can  provide another revenue stream as an additional deliverable
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>



{%- endmacro %}
